node_modules



























































.AppleDS_Store.AppleDouble# macOS.turbo/# Turbo.eslintcache# Optional eslint cache.npm# Optional npm cache directory.DS_StoreThumbs.db# OS*.sublime-workspace*.sublime-project.settings/.project*~*.swo*.swp.idea/.vscode/# IDElerna-debug.log*yarn-error.log*yarn-debug.log*npm-debug.log*# Logs.env.production.local.env.test.local.env.development.local.env.local.env*.pem.DS_Store# Misc/dist/build# Production/out//.next/# Next.js/coverage# Testingbun.lockb.pnp.js/.pnpnode_modules/